# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.PhysicsPlatformer.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\David\UniProjects\FH-Technikum\2121\PHS\PhysicsPlatformer\.idea\.idea.PhysicsPlatformer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
